.SearchBox {
  width: 100%;
  max-width: 420px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}



.infobox {
  color: aliceblue;
}


.cloud-btn {
  background-color: #c9ada7;
}